.progress {
    --progress-color: var(--accent-color);
    --base-color: var(--secondary-color);

    --angle: 0deg;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    mask-image: radial-gradient(transparent 0, transparent 60%, black 60%, black 100%);
    background-image: conic-gradient(var(--progress-color) 0deg, var(--progress-color) var(--angle), var(--base-color) var(--angle));
}

@keyframes loadingAnimation {
    from {
        rotate: 0deg;
    }
    to {
        rotate: 720deg;
    }
}

.progress--animated {
    animation-name: loadingAnimation;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-duration: 1.5s;
}

.progress--hidden {
    visibility: hidden;
}